/* .about {
	padding: 5%;
} */
.about-header-background {
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: url('/images/IMG_1262.jpg') center top;
	background-size: 100vw auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.about-header-background-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.about-header-text-container {
	padding: 100px;
	font-size: 4em;
	width: 100px;
}
.about-padding {
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2rem;
}
.about-header-text {
	color: white;
	text-align: center;
}
.about-picture {
	/* padding: 40px; */
}
.about-picture>div {
	height: 700px;
	width: auto;
	overflow: hidden;
	background-size: 100% 100%;
	background-position: center bottom;
	/* border: 2px solid red; */
}
.about-me-grid-col {
	display: grid;
	grid-template-columns: 45% 50%;
	grid-column-gap: 5%;
}
.about-title {
	font-size: 2rem;
	font-weight: 400;
	/* color: #4717F6; */
	margin: 0;
	/* text-align: right; */
	/* border: 1px solid red; */
}
.about-philosophies-content {
	font-family: 'Lora';
	line-height: 1.5em;
	/* padding-left: 5em; */
	margin-bottom: 3rem;
}
.about-content {
	font-family: 'Lora';
	line-height: 1.5em;
	/* padding-left: 5em; */
	margin-bottom: 5rem;
}
.about-details {
	padding-bottom: 5rem;
	display: grid;
	grid-template-columns: 30% 60%;
	grid-column-gap: 10%;
	/* border: 1px solid red; */
}
.about-details p {
	font-family: 'Lora';
	margin: 6px 0 1rem 0;
	/* border: 1px solid yellow; */
}
.about-grid-col-row {
	display: grid;
	grid-template-rows: auto;
	grid-row-gap: 3rem;
}
.about-grid-col-gap {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-column-gap: 10%;
}
/* .about-grid-col-gap>div {
	border: 1px solid red;
} */
.about-interests {
	padding: 0 5% 3rem 5%;
}
.about-interests-grid-col {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-column-gap: 10%;
}
.dj-picture {
	background-image: url('/images/Alianza Francesa Toque 2.jpg');
	background-size: cover;
	background-position: center right;
	margin-bottom: 5rem;
}
.sunset-picture {
	background-image: url('/images/20170704_192303.jpg');
	background-size: cover;
	background-position: center right;
}
