.about {
	padding-bottom: 1rem;
}
.about-header-background {
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: url('/images/IMG_1262.jpg') center top;
	background-size: 100vw auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.about-header-background-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.about-header-text-container {
	padding: 4rem 9rem;
	font-size: 4rem;
	width: 7rem;
}
.about-header-text {
	color: #E7DFDD;
	text-align: center;
}
.about-header-background .scroll-down-container {
	bottom: 16.2rem;
}
.about-padding {
	padding-left: 5rem;
	padding-right: 5rem;
	padding-bottom: 2rem;
}
.about-me-grid-col {
	display: grid;
	grid-template-columns: 45% 50%;
	grid-column-gap: 5%;
}
.cartagena-picture {
	background-image: url('/images/20171208_142905.jpg');
	background-size: cover;
	background-position: center bottom;
}
.about-title {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
}
.about-philosophies-content {
	font-family: 'Lora';
	line-height: 1.5rem;
	margin-bottom: 3rem;
}
.about-content {
	font-family: 'Lora';
	line-height: 1.5rem;
	margin-bottom: 5rem;
}
.about-details {
	padding-bottom: 5rem;
	display: grid;
	grid-template-columns: 30% 60%;
	grid-column-gap: 10%;
}
.about-details p {
	font-family: 'Lora';
	margin: 0 0 1rem 0;
}
.about-grid-col-row {
	display: grid;
	grid-template-rows: auto;
	grid-row-gap: 3rem;
}
.about-grid-col-gap {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-column-gap: 10%;
}
.about-interests {
	padding: 0 5rem 3rem 5rem;
}
.about-interests-grid-col {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-column-gap: 10%;
}
.about-picture div {
	height: 44rem;
	width: auto;
	background-size: cover;
	overflow: hidden;
}
.dj-picture {
	background-image: url('/images/Alianza Francesa Toque 2.jpg');
	background-position: right;
	width: auto;
	margin-bottom: 5rem;
}
.sunset-picture {
	background-image: url('/images/20170704_192303.jpg');
	background-position: center;
}
@media only screen and (max-width: 1250px) {
	.about-header-background {
		background-size: auto 	100vh;
	}
	.about-header-text-container {
		float: left;
		padding: 2rem 1rem;
		width: 50rem;
	}
	.about-header-background .scroll-down-container {
		top: 28%;
	}
	.about-picture div {
		height: 35rem;
	}
	.about h1 {
		font-size: 3.5rem;
	}
	.about-details {
		display: block;
	}
	.no-padding-bottom {
		padding-bottom: 0;
	}
	.about .right {
		text-align: left;
	}
	.about-title {
		padding-bottom: 1rem;
	}
	.about-interests-grid-col {
		display: block;
	}
	.sunset-picture {
		display: none;
	}
}
@media only screen and (max-width: 1000px) {
	.about-grid-col-gap {
		display: block;
	}
	.about-philosophies-content {
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 800px) {
	.about-header-text-container {
		width: auto;
	}
	.about-header-text {
		font-size: 3.5rem;
	}
	.about-header-background .scroll-down-container {
		top: 28%;
	}
	.about-padding {
		padding-left: 3rem;
		padding-right: 3rem;
	}
	.about-me-grid-col {
		display: block;
	}
	.about-picture div {
		height: 40rem;
	}
	.about h1 {
		font-size: 3rem;
		padding-top: 2rem;
		margin-bottom: 0;
	}
	.about-title {
		padding-top: 2.5rem;
	}
	.about-details {
		padding-bottom: 0;
	}
	.about-interests-padding {
		padding-bottom: 6rem;
	}
	.about-interests {
		padding: 0 1.5rem;
	}
	.about-content {
		margin-bottom: 2rem;
	}
	.dj-picture {
		display: none;
	}
}
@media only screen and (max-width: 675px) {
	.about-padding {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.about-picture div {
		height: 35rem;
	}
}
@media only screen and (max-width: 550px) {
	.about-picture div {
		height: 28rem;
	}
}