.education {
	padding: 5%;
}
.education-header-background {
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: url('/images/IMG_1043.jpg') center top;
	background-size: 100vw auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.education-header-background-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.education-header-text-container {
	position: relative;
	top: 57%;
	left: 60%;
	font-size: 4em;
	width: 100px;
}
.education-header-text {
	color: white;
	text-align: center;
}
.education-grid {
	display: grid;
	grid-template-columns: 30% 65%;
	grid-column-gap: 5%
}
.education-title {
	font-size: 2rem;
	font-weight: 400;
	/* color: #4717F6; */
	margin: 0;
	text-align: right;
	/* border: 1px solid red; */
}
.education-details {
	padding-bottom: 2rem;
	/* border: 1px solid red; */
}
.education-details p {
	font-family: 'Lora';
	margin: 6px 0 1rem 0;
	/* border: 1px solid yellow; */
}
