.education {
	padding: 3rem 5rem 6rem 5rem;
}
.education-header-background {
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: url('/images/IMG_1043.jpg') center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.education-header-background-overlay {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 4rem;
	background: rgba(0, 0, 0, 0.5);
}
.education-header-text-container {
	position: absolute;
	display: block;
	float: left;
	bottom: 4rem;
	right: 3rem;
	font-size: 4rem;
	color: #E7DFDD;
	text-align: center;
}
.education-header-background .scroll-down-container {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 4rem;
}
.education-grid {
	display: grid;
	grid-template-columns: 50% 45%;
	grid-column-gap: 5%
}
.education-title {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
	text-align: right;
}
.education-details {
	padding-bottom: 2rem;
}
.education-details p {
	font-family: 'Lora';
	margin: .4rem 0 1rem 0;
}
@media only screen and (max-width: 900px) {
	.education-header-background-overlay {
		padding: 2rem;
	}
	.education-header-text-container {
		bottom: 10rem;
	}
	.education-header-text {
		font-size: 3rem;
		margin: 0;
	}
	.education-header-background .scroll-down-container {
		bottom: 3rem;
	}
	.education {
		padding: 3rem 1.5rem;
	}
	.education-grid {
		display: block;
		margin-bottom: 3rem;
	}
	.education .body-header {
		font-size: 3.5rem;
	}
	.education h1 {
		font-size: 4rem;
	}
	.education-title {
		text-align: left;
	}
}
