.education {
	padding: 3rem 5rem 6rem 5rem;
}
.education-header-background {
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: url('/images/IMG_1043.jpg') center top;
	background-size: 100vw auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.education-header-background-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.education-header-text-container {
	position: relative;
	float: left;
	top: 33rem;
	left: 63rem;
	font-size: 4rem;
	color: #E7DFDD;
	text-align: center;
}
.education-header-background .scroll-down-container {
	top: 26rem;
}
.education-grid {
	display: grid;
	grid-template-columns: 50% 45%;
	grid-column-gap: 5%
}
.education-title {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
	text-align: right;
}
.education-details {
	padding-bottom: 2rem;
}
.education-details p {
	font-family: 'Lora';
	margin: .4rem 0 1rem 0;
}
