.footer {
	z-index: 10;
	width: 100%;
	background: rgba(0, 0, 0, .75);
	position: fixed;
	bottom: 0;
}
.footer-center {
	display: inline-block;
	text-align: center;
	margin-left: 40%;
	/* border: 1px solid red; */
}
.footer-right {
	float:right;
	padding: 0 2.75rem;
	/* border: 1px solid yellow; */
}
.footer-text {
	display: inline-block;
	color: #E7DFDD;
	font-size: 1.25rem;
	text-align: right;
	margin: 1rem auto;
}
