* {
  font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
body {
	margin: 0;
	padding: 0;
}
.center {
	margin: auto;
	text-align: center;
}
.grid-row-container {
	display: grid;
	grid-template-rows: auto auto auto;
}
.grid-row {
	display: grid;
	grid-template-columns: 50% 50%;
}
.section {
	padding: 3rem 0;
}
.background-grey {
	background: #E7DFDD;
}
.body-header {
	font-family: 'Lora';
	font-size: 5rem;
	text-align: center;
	/* color: #4717F6; */
	line-height: 0;
	padding-bottom: 3rem;
}
