.intro-background {
	width: 100vw;
	height: 100vh;
	background: url('/images/computer-drink2.JPG') center top;
	background-size: auto 100vh;
	background-repeat: no-repeat;
}
.intro-background-overlay {
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.4);
}
.intro-box {
	position: relative;
	top: 5rem;
	width: 75rem;
	height: 45rem;
	border: .1rem solid black;
	background: rgba(0, 0, 0, .75);
	margin: auto;
	text-align: center;
	color: #E7DFDD;
}
.intro-nav {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-gap: 2rem;
	padding-left: 8rem;
	font-size: 1.5rem;
	list-style: none;
}
.intro-nav-link a:link {
	color: #E7DFDD;
	text-decoration: none;
}
.intro-nav-link a:visited {
	color: #E7DFDD;
}
.intro-box-content {
	position: relative;
	top: 11rem
}
.jesse {
	position: relative;
	font-family: 'Lora';
	font-size: 4rem;
	line-height: 0;
	padding-right: 7rem;
	margin-top: 1.5rem;
}
.rykerson {
	font-family: 'Lora';
	font-size: 8rem;
	color: #4717F6;
	line-height: 0;
}
.intro-box-content h1 {
	font-size: 3rem;
	font-weight: 700;
	font-stretch: expanded;
}
.intro-box-content h2 {
	font-size: 3rem;
	font-weight: 700;
}
.intro-button {
	color: #E7DFDD;
	display: inline-block;
	width: 5rem;
	padding: 1rem 1rem;
	margin: .5rem;
	border: .15rem solid #E7DFDD;
	cursor: pointer;
}
.intro-button:hover {
	font-weight: 700;
	border: .2rem solid #E7DFDD;
}
.intro-button a:visited {
	color: #E7DFDD;
}
@media only screen and (max-width: 1200px) {
	.intro-box {
		width: 50rem;
		height: 40rem;
	}
	.intro-nav {
		padding-left: 3rem;
	}
	.intro-box-content {
		top: 10rem
	}
}
@media only screen and (max-width: 800px) {
	.intro-box {
		top: 0;
		width: 100%;
		height: 100%;
	}
	.intro-box-content {
		top: 8rem;
		padding-left: auto;
		padding-right: auto;
	}
	.rykerson {
		padding-left: 1rem;
	}
	.intro-nav {
		display: none;
	}
	.intro .nav-button {
		z-index: 20;
		display: inline-block;
		float: right;
		color: #E7DFDD;
		padding: .5rem;
		border: 2px solid #E7DFDD;
		border-radius: 1rem;
	}
	.intro .nav-button:hover {
		cursor: pointer;
	}
		.intro .hamburger {
			z-index: 20;
			position: relative;
			display: inline-block;
			width: 1rem;
			height: .75rem;
			margin: 0.4rem;
			border-top: 0.2rem solid #E7DFDD;
			border-bottom: 0.2rem solid #E7DFDD;
		}

		.intro .hamburger:before {
			z-index: 20;
			content: "";
			position: absolute;
			top: 0.285rem;
			left: 0px;
			width: 100%;
			border-top: 0.2rem solid #E7DFDD;
		}
	/* .intro .footer {
		display: none;
	} */
}