.intro-background {
	width: 100vw;
	height: 100vh;
	background: url('/images/computer-drink2.JPG') center top;
	background-size: auto 100vh;
	background-repeat: no-repeat;
}
.intro-background-overlay {
	width: 100vw;
	height: 100vh;
	background: rgba(255, 255, 255, 0.4);
}
.intro-box {
	position: relative;
	top: 15%;
	width: 70%;
	height: 70%;
	border: 2px solid black;
	background: rgba(0, 0, 0, .75);
	color: white;
}
.intro-nav {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-gap: 2em;
	padding-left: 7%;
	list-style: none;
}
.intro-nav-link {
	font-weight: 700;
}
/* this will need to be fixed when a links are replaced byreact router links */
.intro-nav-link a {
	color: white;
	text-decoration: none;
	font-weight: 700;
}
.intro-box-content {
	position: relative;
	top: 20%;
}
.intro-box-content h1 {
	font-size: 3em;
	font-weight: 700;
	font-stretch: expanded;
}
.intro-box-content h2 {
	font-size: 3em;
	font-weight: 700;
}
.intro-button {
	display: inline-block;
	width: 4em;
	padding: .5em 1em;
	margin: .5em;
	border: 2px solid white;
}
