nav {
	z-index: 10;
	width: 100%;
	font-size: 1.25rem;
	padding: 1rem;
	background: rgba(0, 0, 0, .75);
	position: fixed;
	top: 0;
	left: 0;
}
nav ul {
	margin: 0;
	float: right;
}
.nav-name {
	padding: 3em;
}
.nav {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-gap: 2em;
	padding-left: 7%;
	list-style: none;
}
nav a {
	color: #E7DFDD;
	text-decoration: none;
}
nav a:link {
	color: #E7DFDD;
}
nav a:visited {
	color: #E7DFDD;
}
