nav {
	z-index: 10;
	height: 18px;
	width: 100%;
	padding: 12px;
	background: rgba(0, 0, 0, .75);
	position: fixed;
	top: 0;
	left: 0;
}
nav ul {
	margin: 0;
	float: right;
}
.nav-name {
	padding: 3em;
	color: white;
}
.nav {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto;
	grid-gap: 2em;
	padding-left: 7%;
	list-style: none;
}
nav a {
	color: white;
	text-decoration: none;
}
