/* .skills-list-wrapper {
	text-align: center;
} */
.skills-header-background {
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: url('/images/IMG_0010.jpg') center top;
	background-size: 100vw auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.skills-header-background-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.skills-header-text-container {
	padding: 300px;
	font-size: 4em;
	width: 100px;
}
.skills-header-text {
	color: white;
	/* text-align: center; */
}
.skills {
	padding: 3rem 10%;
}
.skills-body-header {
	font-family: 'Lora';
	font-size: 5rem;
	text-align: center;
	/* color: #4717F6; */
	line-height: 0;
	padding-bottom: 3rem;
}
.skills-picture {
	background-image: url('/images/20181221_123658.jpg');
	background-size:'cover';
	height: 700px;
	width: auto;
	overflow: hidden;
	background-size: 100% 100%;
	background-position: center bottom;
	/* border: 2px solid red; */
}
.skills-title {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
}
.skills-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.skills-list li {
	font-family: 'Lora';
}
.skill-info {
	display: grid;
	grid-template-columns: 30% 65%;
	grid-column-gap: 5%;
	padding: 2rem;
	/* border: 1px solid yellow; */
}




/* .grid-row>div{
	border: 1px solid red;
} */
