.experience {
	padding: 8rem 6rem;
}
.experience-header-background {
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: url('/images/IMG_8104.jpg') center top;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.experience-header-background-overlay {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 4rem;
	background: rgba(0, 0, 0, 0.2);
}
.experience-header-text-container {
	color: #E7DFDD;
	text-align: center;
	position: absolute;
	display: block;
	float: left;
	bottom: 5rem;
	left: 35rem;
	font-size: 4rem;
}
.experience-header-background .scroll-down-container {
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 4rem;
}
.experience-grid-row {
	display: grid;
	grid-template-columns: 42.5% 57.5%;
}
.job-info {
	padding: 1.5rem 0;
}
.job-title {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
}
.job-dates {
	margin: auto;
	line-height: 2rem;
	color: grey;
	font-style: italic;
}
.duties-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.duties-list li {
	font-family: 'Lora';
}
.experience-picture-wrapper {
	padding-right: 4rem;
}
.experience-picture {
	background: url('/images/IMG_3213.jpg') center top;
	background-size: cover;
	height: 100%;
	margin-bottom: 5rem;
}
.experience-info {
	padding: 0;
}
@media only screen and (max-width: 1250px) {
	.experience-header-text-container {
		left: 18%;
	}
	.experience {
		padding-top: 4rem;
	}
	.experience-grid-row {
		display: block;
	}
	.experience-picture-wrapper {
		display: none;
	}
}
@media only screen and (max-width: 900px) {
	.experience-header-background-overlay {
		padding: 2rem;
	}
	.experience-header-text-container {
		bottom: 9rem;
		left: 0;
		right: 0;
		padding: 0;
	}
	.experience-header-text {
		font-size: 3rem;
		padding: 0;
		margin: 0;
	}
	.experience-header-background .scroll-down-container {
		bottom: 3rem;
	}
	.experience {
		padding: 3rem 1.5rem 5rem 1.5rem;
	}
	.duties-list li {
		margin-bottom: 1rem; 
	}
}