.experience {
	padding: 8rem 6rem;
}
.experience-header-background {
	position: relative;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: url('/images/IMG_8104.jpg') center top;
	background-size: 100vw auto;
	background-repeat: no-repeat;
	background-position: center center;
}
.experience-header-background-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}
.experience-header-text-container {
	color: #E7DFDD;
	text-align: center;
	position: relative;
	float: left;
	top: 50%;
	left: 40%;
	font-size: 4rem;
}
.experience-header-background .scroll-down-container {
	top: 47rem;
	right: 19.2rem;
}
.experience-grid-row {
	display: grid;
	grid-template-columns: 42.5% 57.5%;
}
.job-info {
	padding: 1.5rem 0;
}
.job-title {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
}
.job-dates {
	margin: auto;
	line-height: 2rem;
	color: grey;
	font-style: italic;
}
.duties-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.duties-list li {
	font-family: 'Lora';
}
.experience-picture-wrapper {
	padding-right: 4rem;
}
.experience-picture {
	background: url('/images/IMG_3213.jpg') center top;
	background-size: cover;
	height: 100%;
	margin-bottom: 5rem;
}
.experience-info {
	padding: 0;
}
